{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <div class="float-right">
        <a class="btn btn-primary" href ="{{ url_for('logout') }}" role="button"> Logout </a>
    </div>
    Welcome, {{name}}
    <form action="{{ url_for('search') }}" method="post">
    <label>Book you want to search for : </label>
    <input type="text" placeholder="enter isbn" name ="search"></input>
    <button class="btn btn-primary">Search</button>
    </form>
{% endblock %}